/* Containers */
.projects-content {
    padding: 4rem 0 2rem 0;
}
.gallery-boxes {
    margin: 3rem auto 0 auto;
    display: grid;
    gap: auto;
    grid-template-columns: repeat(3, 1fr);
    --nr-of-columns: 3;
}
.tech-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 50%;;
    margin: 0 auto;
}
/* Elements */
.sub-title {
    text-align: center;
    padding-bottom: 2rem;
}
.title {
    padding-bottom: .3rem;
    font-weight: bold;
    font-size: 1.2em;
}
.img-wrapper {
    margin-bottom: 2em;
}
.button-wrapper {
    padding: .7em 1.4em;
    width: 100%;
}
.project-img {
    /* border: solid 1px #808080; */
    width: 100%;
    height: calc(44vw / 3);
    object-fit: cover;
}
.details-img {
    width: 80%;
    object-fit: cover;
    margin: auto;
}